<!DOCTYPE html>
<html>
  <head>
    <title>Chatapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= csrf_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
      <%= ".msg-#{current_user&.id}" %> {
          background-color: #007bff !important;
          color: #ffffff !important;
      }

      <%= ".msg-#{current_user&.id}" %> .title {
          color: #ffffff !important;
      }

      <%= ".cont-#{current_user&.id}" %> {
          display: flex;
          justify-content: flex-end;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
